$font__main: 'Graphik', sans-serif;
$font__proxima: 'ProximaNova', sans-serif;

$color__violet: #4d57d0;
$color__neon: #77ecbf;
$color__main-bg: #f4f5f9;
$color__text-black: #272727;
$color__white: #ffffff;
$color__text-gray: #7d7d7d;
$color__text-gray-light:#767676;
$color__border: #d8d8d8;

$color__error-bg: #fff3f3;
$color__error: #f77676;
