.example {
  margin-top: 187.5px;
  width: 100%;
  position: relative;
  min-height: 451px;
  padding-top: 53.8px;

  @include lg {
    margin-top: 137.5px;
    min-height: 351px;
  }

  @include sm {
    margin-top: 107px;
    min-height: 251px;
  }

  @include xxs {
    min-height: 151px;
  }

  &__bg {
    width: 100%;
    height: 451px;
    background: $color__violet;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    @include lg {
      height: 351px;
    }

    @include xs {
      height: 251px;
    }

    @include xxs {
      height: 151px;
    }
  }

  &__img {
    width: 100%;
    max-width: 959px;
    margin: 0 auto;
    display: block;
  }
}
