.footer {
  width: 100%;
  padding: 142px 0 36px;
  background-color: $color__bg-dark--s1;
  border-top: 1px solid rgba($color__footer-border, .2);

  @include lg {
    padding-top: 36px;
  }

  @include xxs {
    padding: 36px 30px;
  }

  &__wrapper {
    @include flex(flex-start, center);
    gap: 20px 126px;

    @include lg {
      gap: 20px 80px;
    }

    @include sm {
      flex-wrap: wrap;
      justify-content: space-between;
    }
  }

  &__privacy {
    @include flex(center, space-between);
    gap: 30px;
    margin-top: 135px;

    @include lg {
      margin-top: 36px;
    }

    @include xxs {
      gap: 10px 30px;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }

  &__logo {
    width: 149px;
    margin-right: 82px;

    @include xl {
      margin-right: unset;
    }

    @include sm {
      width: 110px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include xs {
      width: 40%;
    }

    @include xxs {
      width: 100%;
    }

    .white-link {
      letter-spacing: 1.4px;
    }
  }

  &__list:first-child {
    @include sm {
      width: 100%;
    }
  }

  &__title {
    text-transform: uppercase;
    line-height: 1.57;
    letter-spacing: 1.4px;
    font-family: $font__work-sans;
    font-size: 14px;
    color: $color__blue--main;
    margin-top: 13px;
  }

  &__rights {
    font-family: $font__red-hat;
    font-size: 12px;
    font-weight: 500;
    line-height: 1.5;
    color: $color__text--gray;
  }

  &__links {
    @include flex(center, flex-end);
    gap: 22px;
  }

  &__link:hover {
    text-decoration: underline;
  }

  &__tag {
    margin-left: 7px;

    span {
      position: relative;
      top: 1px;
    }
  }
}
