.hamburger {
  height: 26px;
  width: 32px;
  @include flex(flex-end, space-between);
  flex-direction: column;

  &__line {
    display: block;
    height: 3px;
    width: 100%;
    border-radius: 8px;
    background: $color__text--white;
    transition: .4s cubic-bezier(0.68, -0.6, 0.32, 1.6);

    &:first-of-type {
      width: 50%;
    }

    &:nth-of-type(2) {
      width: 100%;
    }

    &:last-of-type {
      width: 75%;
    }
  }

  &--active &__line {
    &:first-of-type {
      transform-origin: bottom;
      transform: rotate(-45deg) translate(-5px, 1px);
    }

    &:nth-of-type(2) {
      transform-origin: top;
      transform: rotate(45deg)
    }

    &:last-of-type {
      transform-origin: bottom;
      width: 50%;
      transform: translate(-15px, -7px) rotate(-45deg);
    }
  }
}

.header {
  width: 100%;
  background: $color__bg-dark--s1;
  height: 87px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid $color__head-border;
  z-index: 999;

  @include sm {
    height: 60px;
  }

  &__wrapper {
    @include flex(center, flex-start);
    height: 100%;
    width: 100%;
    padding-left: 16.4px;

    @include sm {
      padding-left: 15px;
    }
  }

  &__logo {
    width: 149px;
    margin-right: 82px;

    @include sm {
      width: 110px;
      margin-right: unset;
    }
  }

  &__nav-list {
    @include flex(center, flex-start);
    gap: 39px;
    height: 100%;

    @include sm {
      width: 100vw;
      max-height: 300px;
      height: 100vh;
      position: absolute;
      top: 60px;
      left: 0;
      background: $color__bg-dark--s1 url("../assets/images/common/aa-bg.svg");
      flex-direction: column;
      gap: 20px;
      padding-top: 20px;
      transform: translate(-150%);
      transition: transform 0.4s ease-in-out;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: bottom;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      box-shadow: 0px 10px 15px 0px rgba($color__bg-dark, 0.5);
      z-index: 999;
    }

    @include xs {
      height: calc(100vh - 60px);
      max-height: unset;
      background-position-x: center;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
  }

  &__nav-item {
    height: 100%;
    display: flex;
    @include flex(center, unset);
    position: relative;

    @include sm {
      height: 40px;
      width: 100%;
      max-width: 400px;
    }

    @include xs {
      width: 90%;
    }
  }

  &__link {
    font-weight: 700;
    font-size: 16px;

    @include sm {
      width: 100%;
      height: 100%;
      border-radius: 8px;
      transition: background-color 0.3s ease-in-out;
      @include flex(center, center);

      &:hover {
        background: $color__bg-dark--s3;
      }

      &::after {
        display: none;
      }
    }

    @include lg {
      font-size: 15px;
      font-weight: 500;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 100%;
      height: 3px;
      background: $color__blue--main;
      transform-origin: right;
      transform: scaleX(0);
      transition: transform .3s ease-in-out;
    }

    &:hover, &--active {
      &::after {
        transform-origin: left;
        transform: scaleX(1);
      }
    }
  }

  &__button {
    margin-left: auto;

    @include sm {
      display: none;
    }
  }

  &__button-hamb {
    display: none;

    @include sm {
      display: block;
      margin-top: auto;
      margin-bottom: 20px;

      .blue-button {
        display: block;
        font-size: 16px;
      }
    }

    @include xs {
      margin-bottom: 60px;
    }
  }

  &__hamb {
    display: none;
    margin-left: auto;

    @include sm {
      display: flex;
    }
  }
}


.hamburger--active ~ nav > .header__nav-list {
  transform: translate(0);
}
