.form-group {
  width: 100%;
  height: 80px;
  position: relative;

  //&--select {
  //  height: 60px;
  //}
}

.form-group.has-danger > .input,
.form-group.has-danger-custom > .input-select {
  border: 1px solid $color__error
}

.input {
  width: 100%;
  height: 60px;
  padding: 0 28.5px ;
  border-radius: 15px;
  border: solid 1px $color__input-border;
  background: $color__bg-dark--s3;
  color: $color__text--gray;
  font-family: $font__main;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -0.2px;
  margin: 0;

  &--textarea {
    resize: none;
    height: 250px;
  }

  &::placeholder {
    font-size: 18px;
    font-weight: 500;
    font-family: $font__main;
    color: $color__text--gray;
  }

  &:focus-visible {
    outline: unset;
    border: 1px solid $color__blue--main;
  }
}

.checkbox {
  display: flex;
  align-items: center;
  gap: 13px;
  font-family: $font__main;

  &__item {
    margin: 0;
    width: 26px;
    height: 26px
  }

  &__label {
    font-size: 14px;
    line-height: 1.67;
    color: $color__text--gray;

    a {
      color: #6973ee;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.pristine-error, .custom-error {
  font-family: $font__main;
  position: absolute;
  right: 0;
  font-size: 13.5px;
  line-height: 1.48;
  color: #f66565;
  bottom: 0;
}

.checkbox .pristine-error {
  bottom: -20px;
}

.input-select {
  width: 100%;
  font-family: $font__main;
  height: 60px;
  border: solid 1px $color__input-border;
  border-radius: 15px;
  color: $color__text--gray;
  background-color: $color__bg-dark--s3;
  outline: 0;
  font-size: 18px;
  letter-spacing: -0.2px;
  font-weight: 500;
  padding: 0 35px 0 28.5px;
  @include flex(center, flex-start);

  &:focus-visible {
    outline: unset;
    border: 1px solid $color__blue--main;
  }

  .current {
    line-height: 1;
    margin-top: 1px;
  }
}
