@import '../mixins';
@import '../variables';

.success-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  @include flex(flex-start, center);
  display: none;
  font-family: $font__main;

  @include sm {
    align-items: center;
  }

  &__content {
    margin-top: 252.2px;
    width: 90vw;
    max-width: 899px;
    min-height: 418px;
    background: $color__white;
    border: solid 1px $color__border;
    border-radius: 5px;
    padding: 31px 77px 27.2px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.05);
    background-image: url('./assets/images/invite-bg.svg');
    background-size: 123%;
    background-repeat: no-repeat;
    background-position-y: -85px;
    background-position-x: -20px;

    @include sm {
      margin-top: 0;
      background-position-y: 0;
      background-position-x: 0;
      background-size: cover;
    }

    @include xs {
      padding: 21px 30px 17.2px;
    }
  }

  &__img {
    max-width: 341px;
    width: 100%;
    min-height: 93px;
    height: auto;

    position: relative;
    left: -35px;

    @include xs {
      left: 0;
    }
  }

  &__description {
    max-width: 682px;
    width: 100%;
    margin: 11px 0 62px;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: 0.67px;

    color: #3a3a3a;

    &--blue {
      color: $color__violet;
      font-weight: 500;
    }
  }

  &__link {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.67px;
    color: #3a3a3a;
    opacity: 0.3;

    &:hover {
      text-decoration: underline;
    }
  }

  &__button {
    display: block;

    font-size: 20px;

    width: 160px;
    height: 55px;
    margin: 28.8px auto 0;

    border-radius: 5px;
    background-color: $color__violet;
    color: $color__white;
  }
}
