.to-do-list {
  @include flex(stretch, space-between);
  gap: 15px;

  margin-top: 163px;
  padding: 0 55.5px 0 82px;
  min-height: 269px;
  height: 100%;
  width: 100%;

  @include xl {
    padding: 23px 20px 17px 20px;
  }

  @include lg {
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 0 0;
    margin-top: 0;
  }

  &__item {
    max-width: 252px;
    width: 100%;
    min-height: 108px;

    @include lg {
      max-width: 400px;
      text-align: center;
    }

    @include sm {
      max-width: 350px;
      // text-align: center;
    }
  }

  &--custom > &__item:last-child > &__icon {
    font-size: 39px;
    padding-top: 8px;
  }

  &__icon {
    font-size: 54px;
    margin-left: 4px;
    display: inline-block;
    height: 54.5px;

    &:nth-of-type(3) {
      margin-left: 8px;
    }
  }

  &__description {
    font-size: 20px;
    font-weight: 600;
    margin: 25px 0 19px;
    text-align: left;

    @include lg {
      text-align: center;
    }
  }

  &__subtitle {
    letter-spacing: 0.71px;

    @include xxl {
      text-align: left;
    }

    @include lg {
      text-align: center;
    }
  }
}
