@import "../helpers/helpers";
@import "./job-seeker/aa";
@import "./job-seeker/profile";
@import "./job-seeker/more";
@import "./job-seeker/jump-in";

.box {
  border-radius: 30px;
  padding: 62px 66px 76px;
  background-position-x: right;
  background-position-y: center;
  background-size: contain;

  @include xl {
    background-position-x: 110%;
  }

  @include lg {
    background-size: cover;
    background-blend-mode: color-dodge;
  }

  @include xs {
    padding: 62px 42px;
    background-blend-mode: overlay;
  }

  @include xxs {
    background-size: 100% 100%;
    padding: 50px 15px 50px 25px;
  }

  &__wrapper {
    max-width: 1037px;
    width: 75%;
    padding-right: 25px;

    @include xxl {
      width: 70%;
    }

    @include xl {
      width: 65%;
    }

    @include lg {
      width: 100%;
      padding-right: 0;
    }
  }

  &__title {
    margin-top: 35px;
  }

  &__btn {
    margin-top: 50px;
  }
}
