@import "../helpers/helpers";

.auto-apply {
  @include flex(flex-start, space-between);
  margin: 179px 0 0;
  padding: 0 45px 0 36.5px;

  @include xxl {
    flex-direction: column;
    align-items: center;
  }

  @include xs {
    margin-top: 50px;
  }

  &__img {
    max-width: 793px;
    width: 100%;
    height: auto;

    &--middle {
      max-width: 675px;
    }
  }

  &__container {
    max-width: 555px;
    margin-top: 25px;

    .title {
      max-width: 514px;
      line-height: 1.45;
      letter-spacing: -0.3px;
      margin-bottom: 4px;

      @include xxl {
        max-width: unset;
      }
    }

    @include xxl {
      padding-top: 80px;
      max-width: 900px;
    }
  }

  &__description {
    padding: 31.1px 0 0;
    max-width: 449px;
    letter-spacing: -0.38px;

    @include xxl {
      max-width: unset;
    }
  }

  &__list {
    @include flex(center, space-between);
    margin-top: 24px;

    @include xxl {
      gap: 50px;
    }

    @include xxs {
      flex-direction: column;
      gap: 30px;
      margin: 0 auto;
    }
  }

  &__item {
    max-width: 244px;
    width: 100%;

    .title--main {
      margin-bottom: 4px;
    }

    .description--main {
      min-height: 108px;
      letter-spacing: 0.38px;
    }

    @include xxl {
      max-width: unset;
    }
  }
}

.check-out {
  margin-top: 100px;

  &__container {
    max-width: 920px;
    position: relative;
  }

  .icon-plane {
    font-size: 72px;
    position: absolute;
    top: 27px;

    &:first-child {
      left: -137.3px;
      transform: rotateY(180deg);

      @include xxl {
        left: -70px;
      }

      @include xl {
        left: -17px;
      }
    }

    &:nth-child(2) {
      right: -137.3px;

      @include xxl {
        right: -70px;
      }

      @include xl {
        right: -17px;
      }
    }

    @include xxl {
      font-size: 50px;
    }

    @include sm {
      font-size: 0;
    }
  }

  &__description {
    padding: 12px 0 0;
    line-height: 1.75;
    letter-spacing: -0.09px;
    color: #767676;
    font-weight: 500;
  }

  &__button {
    width: 383px;
    height: 86px;
    margin: 29px auto 0;
    padding: 24px 74px;
  }
}

.reviews {
  max-width: 1280px;
  width: 100%;
  min-height: 333px;
  height: 100%;
  margin: 150px auto 0;
  padding: 29.3px 38px 34px 36px;
  border-radius: 10px;
  background-color: $color__violet;
  position: relative;
  z-index: 1;

  &::after {
    content: url('/assets/images/launch_website/testimonials.svg');
    position: absolute;
    width: 196px;
    height: 194px;
    top: 0;
    right: 0;

    @include lg {
      opacity: 0.5;
      z-index: -1;
    }
  }

  &__title {
    width: fit-content;
    color: $color__neon;
    font-size: 80px;
    font-weight: 500;
    padding-bottom: 21.5px;
    position: relative;
    line-height: normal;
    letter-spacing: -2.67px;

    &::after {
      content: '';
      position: absolute;
      bottom: 0px;
      left: 0;
      width: 100%;
      height: 12px;
      background-color: $color__white;

      @include lg {
        height: 8px;
      }
    }

    @include xl {
      font-size: 55px;
    }

    @include xs {
      font-size: 35px;
    }
  }

  &__description {
    max-width: 745px;
    width: 100%;
    margin-top: 34.2px;
    line-height: 1.5;
    letter-spacing: -0.67px;

    @include xxl {
      margin-left: auto;
      margin-right: auto;
    }
  }

  &__persons-name {
    font-size: 25px;
    width: fit-content;
    margin: 38.5px 0 0 auto;
    line-height: 1.2;
    letter-spacing: -0.83px;
  }
}

@import "../components/btn-section";
