@import "../helpers/helpers";

.privacy-policy {
  padding-top: 91px;
  background: $color__bg-dark--s1;
  font-family: $font__main;

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    padding: 0 10px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;
    color: $color__text--white;

    &--small {
      font-size: 20px;
    }
  }

  p {
    margin: 25px 0;
    color: $color__text--gray;

    @include xxs {
      margin: 20px 0;
    }

    &:last-of-type {
      margin-bottom: 0;
      padding-bottom: 20px;
    }
  }

  &__list {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 25px;

    @include xxs {
      padding-left: 20px;
      margin-bottom: 20px;
    }

    & > li {
      margin: 5px 0;
      color: $color__text--gray;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
