@import "../helpers/helpers";

.header {
  width: 44.5%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;

  &__wrapper {
    width: 426px;
    margin: 15px auto 0;
    height: 100%;

    @include sm {
      width: 100%;
      margin: 15px 0 0 10px;
    }
  }

  &__logo {
    width: 131px;
    cursor: pointer;
  }
}

.privacy-policy {
  padding-top: 91px;
  background: $color__white;
  font-family: $font__main;

  &__wrapper {
    margin: 0 auto;
    width: 100%;
    max-width: 640px;
    padding: 0 10px;
  }

  &__title {
    font-size: 30px;
    font-weight: 700;

    &--small {
      font-size: 20px;
    }
  }

  p {
    margin: 25px 0;

    @include xxs {
      margin: 20px 0;
    }
  }

  &__list {
    list-style: disc;
    padding-left: 40px;
    margin-bottom: 25px;

    @include xxs {
      padding-left: 20px;
      margin-bottom: 20px;
    }

    & > li {
      margin: 5px 0;

      &:first-letter {
        text-transform: uppercase;
      }
    }
  }
}
