@import "../helpers/helpers";

.header {
  width: 44.5%;
  height: auto;
  min-height: unset !important;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;

  &__wrapper {
    width: 426px;
    margin: 15px auto 0;
    height: 100%;

    @include sm {
      width: 100%;
      margin: 15px 0 0 10px;
    }
  }

  &__logo {
    cursor: pointer;
  }
}

.main {
  @include flex(stretch, space-between);
  font-family: $font__main;
  width: 100%;
  min-height: 100vh;
  height: 100%;
}

.early-acc {
  max-width: 44.5%;
  width: 100%;
  padding-bottom: 26.5px;

  @include sm {
    max-width: unset;
    background-image: url('./assets/images/early-access-bg.svg');
    background-position-y: 20vh;
    background-size: 150vw;
  }

  @include xxs {
    background-position-y: -20vh;
  }

  &__wrapper {
    width: 426px;
    margin: 0 auto;
    @include flex(unset, center);
    flex-direction: column;
    height: 100%;


    @include lg {
      max-width: 486px;
      padding: 0 30px;
      width: 100%;
    }

    @include xxs {
      padding: 0 10px;
      width: 90vw;
    }
  }

  &__info {
    max-width: 407px;
    font-size: 13px;
    line-height: 1.54;
    text-align: center;
    margin: 0 auto;
    color: $color__text-gray;

    @include xxs {
      margin-bottom: 40px;
    }
  }

  &__policy {
    text-align: center;
    display: flex;
    gap: 15.5px;
    font-size: 13px;
    line-height: 1.54;
    color: $color__text-gray;
    justify-content: center;
    margin-top: auto;
    padding-top: 20px;

    &--link {
      font-size: 13px;
      line-height: 1.54;
      color: $color__text-gray;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 564px;
  padding: 40.5px 36.5px 18.7px;
  margin: 205px auto 47.5px;
  border-radius: 5px;
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.03);
  background-color: $color__white;

  @include xl {
    margin-top: 15vh;
  }

  @include xxs {
    margin: 70px auto 27.5px;
    padding: 40.5px 23.5px 18.7px;
  }

  &__title {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.67px;

    color: $color__text-black;
  }

  &__subtitle {
    font-size: 13px;
    margin: 6px 0 27px;

    color: $color__text-black;
  }

  &__item-span {
    display: none;
  }

  &__item {
    width: 100%;
    position: relative;
  }

  &__socials {
    @include flex(flex-end, center);
    gap: 8px;
    margin: 36px auto 0;
    padding-top: 23px;
    border-top: 0.5px solid #e8e8e8;
    width: 100%;
  }

  &__socials-item {
    font-size: 26px;
    cursor: pointer;
    width: fit-content;
    transition: all 0.3s ease-in-out;

    &:hover {
      opacity: .8;
    }
  }
}

.applying {
  width: 55.5%;
  padding: 33.9px 39.1px 20px;
  background: #fafafc;
  @include flex(unset, center);
  flex-direction: column;

  @include sm {
    display: none;
  }

  &__title {
    width: 400px;
    font-size: 35px;
    font-weight: 500;
    line-height: 1.31;
    margin-left: calc(17.7% - 21.9px);
    color: $color__text-black;

    @include lg {
      width: 370px;
      font-size: 26px;
    }
  }

  &__banner {
    max-width: 853.3px;
    width: 100%;
    margin: 5px auto 0;
  }

  &__img {
    width: 100%;
  }

  &__slider {
    max-width: 643px;
    width: 100%;
    padding: 38.5px 0 80px 13px;

    @include sm {
      opacity: 0;
    }

    .swiper-pagination-bullet {
      width: 18px;
      height: 18px;
      background: #d8d8d8;
      opacity: 1;
    }

    .swiper-pagination-bullet-active {
      background: $color__violet;
    }
  }

  &__message {
    font-size: 20px;
    width: 100%;
    padding: 15.5px 14px;
    margin: 0 auto;
    line-height: 1.4;
    border-radius: 5px;
    cursor: grab;
    background-color: $color__main-bg;
    color: $color__text-black;

    @include lg {
      font-size: 15px;
      font-weight: 400;
    }
  }
}
