@import "../helpers/helpers";


.early-acc {
  width: 100%;
  padding: 126px 0 354px;
  background: $color__bg-dark--s1;

  @include xs {
    padding: 100px 0;
  }

  &__wrapper {
    text-align: center;
    //@include flex(unset, center);
    //flex-direction: column;
    //height: 100%;
  }

  &__info {
    width: 100%;
    padding: 19px 58px;
    background: $color__bg-dark--s2;
    border-radius: 15px;
    margin-top: 89px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.56;
    letter-spacing: -0.32px;
    font-family: $font__inter;
    color: $color__text--gray;
    @include flex(center, flex-start);
    gap: 15px;
    text-align: left;

    img {
      width: 43px;
      aspect-ratio: 1 / 1;
    }

    @include xs {
      padding: 19px 28px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  width: 610px;
  margin: 0 auto;
  gap: 3px;

  @include xs {
    padding: 0 10px;
    width: 90vw;
  }

  &__gradient {
    border-radius: 15px;
    background-image: linear-gradient(246deg, #32c5ff, #b620e0 49%, #f7b500);
    padding: 0 9.5px;
    @include flex(center, center);
    color: $color__text--dark;
    display: inline-block;
  }

  &__subtitle {
    margin: 39.4px auto 65px;
    max-width: 683px;
  }

  &__button {
    margin-top: 31px;
    border-radius: 15px;
    height: 60px;
  }
}

.success {
  min-height: 911px;
  background-image: url("../assets/images/common/blush-bg.svg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  display: none;

  @include lg {
    min-height: unset;
  }

  &__text {
    max-width: 477px;
  }
}
