@font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/graphik/Graphik-Regular.woff2') format('woff2'),
    url('./assets/fonts/graphik/Graphik-Regular.woff') format('woff'),
    url('./assets/fonts/graphik/Graphik-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/graphik/Graphik-Medium.woff2') format('woff2'),
    url('./assets/fonts/graphik/Graphik-Medium.woff') format('woff'),
    url('./assets/fonts/graphik/Graphik-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('./assets/fonts/graphik/Graphik-Semibold.woff2') format('woff2'),
    url('./assets/fonts/graphik/Graphik-Semibold.woff') format('woff'),
    url('./assets/fonts/graphik/Graphik-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-display: block;
    font-family: 'ProximaNova';
    src: url('./assets/fonts/proxima-nova/ProximaNova-Regular.eot');
    src: url('./assets/fonts/proxima-nova/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/proxima-nova/ProximaNova-Regular.woff') format('woff'),
    url('./assets/fonts/proxima-nova/ProximaNova-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-display: block;
    font-family: 'ProximaNova';
    src: url('./assets/fonts/proxima-nova/ProximaNova-Semibold.eot');
    src: url('./assets/fonts/proxima-nova/ProximaNova-Semibold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/proxima-nova/ProximaNova-Semibold.woff') format('woff'),
    url('./assets/fonts/proxima-nova/ProximaNova-Semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'icomoon';
    src:  url('./assets/fonts/icomoon/icomoon.eot?v6wm2p');
    src:  url('./assets/fonts/icomoon/icomoon.eot?v6wm2p#iefix') format('embedded-opentype'),
    url('./assets/fonts/icomoon/icomoon.ttf?v6wm2p') format('truetype'),
    url('./assets/fonts/icomoon/icomoon.woff?v6wm2p') format('woff'),
    url('./assets/fonts/icomoon/icomoon.svg?v6wm2p#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-IN1 .path1:before {
    content: "\e903";
    color: rgb(77, 87, 208);
}
.icon-IN1 .path2:before {
    content: "\e904";
    margin-left: -1em;
    color: rgb(255, 255, 254);
}
.icon-IN1 .path3:before {
    content: "\e905";
    margin-left: -1em;
    color: rgb(255, 255, 254);
}
.icon-FB1:before {
    content: "\e900";
    color: #4d57d0;
}
.icon-IG1 .path1:before {
    content: "\e901";
    color: rgb(77, 87, 208);
}
.icon-IG1 .path2:before {
    content: "\e902";
    margin-left: -1.0380859375em;
    color: rgb(255, 255, 254);
}
