@import 'reset';
@import 'helpers/helpers';

.wrapper {
  max-width: 1511.5px;
  width: 100%;
  margin: 0 auto;

  @include xxl {
    padding: 0 15px;
  }
}

.title {
  font-family: $font__main;
  font-weight: 600;
  color: #333333;
  letter-spacing: -0.3px;

  @include xl {
    margin: 0 auto;
    text-align: center;
  }

  &--big {
    font-size: 60px;

    @include xl {
      font-size: 50px;
    }

    @include xs {
      font-size: 35px;
    }
  }

  &--middle {
    font-size: 50px;

    @include xl {
      font-size: 40px;
    }

    @include xs {
      font-size: 25px;
    }
  }

  &--main {
    font-size: 42px;

    @include xl {
      font-size: 32px;
    }

    @include xs {
      font-size: 28px;
    }
  }

  &--white {
    color: $color__white;
  }

  &--highlighted {
    color: $color__neon;
  }
}

.description {
  font-family: $font__main;
  font-weight: 500;

  @include xl {
    text-align: center;
  }

  &--white {
    color: $color__white;
  }

  &--small {
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.08px;
  }

  &--main {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.8;
  }
}

.container {
  width: 100%;

  &--centred {
    margin: 0 auto;
    text-align: center;
    line-height: 1.4;
    height: 100%;
  }
}

@import "./components/components";
